@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #083465;
  --secondary: #e3e1c4;
}

* {
  @apply box-border m-0 p-0;
}

html {
  @apply text-black focus-within:scroll-smooth;
}
body {
  cursor: url("/assets/images/cursor.png"), auto;
  @apply font-openSauceSans bg-primary;
}

ol,
li {
  @apply list-none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-extenda font-bold;
}

.article-box iframe {
  width: 100%;
}

.gradient-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 128, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: inline-block; /* This makes the div fit the content */
}
